{% extends "base.html" %}

{% block content %}

<h2>Image Analysis 🖼️</h2>

<img
    src="{{ image.image.url }}"
    style="
        max-width:500px;
        width:100%;
    "
>

<hr>

<form method="POST">

    {% csrf_token %}

    <button
        type="submit"
        name="analyze"
    >
        Analyze Image 🤖
    </button>

</form>

<hr>

<h3>Ask About Image 👀</h3>

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="question"
        placeholder="Ask about this image..."
        required
    >

    <button
        type="submit"
        name="ask"
    >
        Ask
    </button>

</form>

{% if answer %}

    <h4>Answer</h4>

    <p>

        {{ answer }}

    </p>

{% endif %}

{% endblock %}