{% extends "base.html" %}

{% block content %}

<h2>
    {{ pdf.file.name }}
</h2>

<form method="POST">

    {% csrf_token %}

    <button
        type="submit"
        name="summarize"
    >
        Summarize PDF 🤖
    </button>

</form>

{% if summary %}

    <hr>

    <h3>Summary</h3>

    <p>

        {{ summary }}

    </p>

{% endif %}

<hr>

<h3>Ask PDF 🤖</h3>

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="question"
        placeholder="Ask about this PDF..."
        required
    >

    <button
        type="submit"
        name="ask"
    >
        Ask
    </button>

</form>

{% if answer %}

    <h4>Answer</h4>

    <p>

        {{ answer }}

    </p>

{% endif %}

<hr>

<h3>Extracted Text</h3>

<pre>

{{ text }}

</pre>

{% endblock %}